body {
  height: 100vh;
  background: url(./images/architecture-background.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 100px;
}

#timer {
  width: 100%;
  font-size: 72px;
  text-align: center;
  margin-top: 50px;
}
.buttons {
  text-align: center;
}

button {
  margin: 0 10px;
  border: none;
}

i {
  font-size: 2rem;
  padding: 10px;
  color: #ffffff;
}

#play {
  background-color: rgb(0, 255, 26);
}
#pause {
  background-color: orange;
}
#reset {
  background-color: rgb(255, 0, 0);
}
